/* styleGeneral.css */
.header {
    background-color: #0e0e0e;
    color: #fff;
 font-size: 1.2rem;
 align-items: center;
    padding: 10px 20px;
    z-index: 2;
}

.header img {
    border-radius: 5px;
}

.header nav {
    margin-left: 20px;
}
#NavLink.active{
    color: rgb(255, 247, 19);
}
.header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.header nav a:hover {
    color: #aaa8a8;
}

.header .flex {
    display: flex;
    align-items: center;
}

.header .fa {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}
