#qNa-box {
    width: 60%;
    min-width: 300px;
    padding: 0 10px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    height: max-content;
    backdrop-filter: blur(5px);
    background-color: rgba(246, 156, 179, 0.435);
    margin: 10px auto;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(109, 16, 88);

}

#qNa-box h4 {
    color: rgb(85, 84, 84);
}

#input {

    min-width: 250px;
    width: 25%;
    padding: 10px;
    border: 1px solid rgb(98, 8, 83);
    background-color: gainsboro;
    align-self: center;
    margin: 5px auto;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    text-decoration: dotted;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
label {
  
    cursor: pointer;
}