
i {
    font-size: 15px;
}

body {
    background-image: url('images/background!.png');
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-repeat: no-repeat;

}
.background-blur{backdrop-filter: blur(25px);
background-size: cover;
}
h1 {
    font-size: 3rem;   
   color: rgb(255, 247, 171);

font-weight: 900;
    padding: 10px;
}


h2{
   
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    margin: 0;
    font-size: 3rem;
    width: 100wh;
    margin-bottom: 25px;
    border-bottom: 5px solid rgb(187, 56, 143);
    font-weight:bold;
    backdrop-filter: blur(5px);
    text-shadow: 2px 2px 4px rgb(143, 9, 92);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
 
    padding: 25px;
}
h3{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
color: rgb(72, 72, 73);
font-size: 2em;
}